#navbarVisualizar {
    height: 54px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
    display: flex;
    width: 100%;
    background: #ffffff;
    color: #1c1e21;
    z-index: 10;
}

#menuVisualizar {
    padding-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#menuVisualizar li {
    list-style: none;
}

#menuVisualizar a {
    color: #1c1e21;
    font-weight: 480;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

/*Responsivo*/
/*Mobile*/
@media screen and (min-width: 320px) and (max-width:480px) {

    #menu li {
        list-style: none;
    }

    #menu a {
        font-weight: 900;
        font-size: 12px;
        color: #1c1e21;
    }
    .btn-registra {
        margin-right: 0;
      
        
    }

    #navbarVisualizar {
        position: fixed;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu {
        margin-left: -16px;
        display: flex;

    }

}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width:769px) {

    #navbarVisualizar {
        position: fixed;
        padding: 0 10px;
    }

    #menu {
        display: flex;

    }

}

/*Laptops*/
@media (min-width: 769px) and (max-width: 1250px) {}