.dashboardHome {
    width: 100%;
    height: 100%;
    margin-top: 1%;
    /* background-color: brown; */
}

.dashboardHome_button_input {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.dashboardHome button {
    width: 195px;
    color: #fff;
    background-color: #ffffff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(132, 133, 135, 0.5);
    border: none;
    border-radius: 0.25rem;
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    padding: 10px 20px;
}

.dashboardHome button:hover{
    color: #fff;
    background-color: #008cff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 140 255 / 50%);
    transition: background-color 1s, color 1s, box-shadow 2s;
}

.dashboardHome_button_input input {
    width: 900px;
    color: #fff;
    background-color: #ffffff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(132, 133, 135, 0.5);
    border: none;
    border-radius: 0.25rem;
    color: #223035;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
}

.conteudo_categoria_dashboardHomeHeader{
    border-radius: 5px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(73, 74, 74, 0.5);
    border: none;
    border-radius: 0.25rem;
    padding: 10px 20px; 
    cursor: pointer;

}