

.section_eventos_home {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    height: 76vh;
    overflow-y: scroll;
    padding: 16px 20px 50px 20px;
    margin-top: 1%;
    /* box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(73, 74, 74, 0.5); */
    border: none;
    border-radius: 0.25rem;


}


/*Responsivo*/
/*Mobile*/


@media screen and (min-width: 320px) and (max-width:568px) {
    .section_eventos_home {
        min-width: 200px;
        /* display: grid;
        grid-template-columns: repeat(1, 1fr); */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        width: 300px;
        background-color: antiquewhite;
        margin-top: 8px;

    }

}

@media screen and (min-width: 569px) and (max-width:767px) {


    .section_eventos_home {
        background-color: antiquewhite;
        min-width: 100px;
        /* padding-top: 40px; */
        /* display: grid;
        grid-template-columns: repeat(1, 1fr); */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        margin-top: 8px;

    }

}


/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 991px) {


    .section_eventos_home {
        min-width: 200px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        width: 575px;
    }


}

/*Laptops*/

@media (min-width: 992px) and (max-width: 1280px) {
    .section_eventos_home {
        min-width: 200px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        width: 850px;
    }


}