.dashboard {
    display: grid;
    grid-template-rows: 7% 93%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/*Lado Esquerdo*/

.border_perfil{
    background-color: rgb(119, 119, 119);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.border_perfil_icon{
    position: relative;
    left: 15%;
}

.dashboard_LadoEsquerdo_h1ul{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0 50px;
    align-items: center;
}

.dashboard_LadoEsquerdo_ul ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    font-size: 20px;
}


.dashboard_LadoEsquerdo_ul ul li{
    list-style: none;
    padding-top: 12px;
}


.dashboard_LadoEsquerdo {
    background-color: #092159;
    width: 100%;
    height: 100%;
}

#dashboard_LadoEsquerdo_menu {
    padding: 1000px;
    background-color: #008cff;
    width: 100%;
    height: 100%;
    margin-top: 30%;
    font-size: 17px;
    padding: 0;
}

#dashboard_LadoEsquerdo_menu li {
  
}

#dashboard_LadoEsquerdo_menu li {
   
}

#dashboard_LadoEsquerdo_menu li:hover {}

#dashboard_LadoEsquerdo_menu a {
    color: black;
}

#dashboard_LadoEsquerdo_menu a.active li {
   
}



/*Lado direito*/


.dashboard_LadoDireito {
    /* background-color: blueviolet; */
    width: 100%;

    background-color: white;




}