.detalhe_EditarPrincipalDashboard_informacao {
    height: 100vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center ;
    gap: 15px;
}



.informacaoEditarPrincipalDashboard {
    height: 550px;
    /* background-color: blueviolet; */
    background-color: #fff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(73, 74, 74, 0.5);
    border: none;
    border-radius: 0.25rem;

}

#menuInformacaoEditarPrincipalDashboard {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    
}

#menuInformacaoEditarPrincipalDashboard li {
    list-style: none;
    font-size: 20px;
}

#menuInformacaoEditarPrincipalDashboard li button {
    width: 225px;
    color: #fff;
    background-color: #ffffff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(132, 133, 135, 0.5);
    border: none;
    border-radius: 0.25rem;
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    padding: 12px 20px;
}

#menuInformacaoEditarPrincipalDashboard li button:hover {
    width: 225px;
    color: #fff;
    background-color: #008cff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(132, 133, 135, 0.5);
    border: none;
    border-radius: 0.25rem;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    padding: 12px 20px;
    transition: background-color 1s, color 1s, box-shadow 2s;
}

#menuInformacaoEditarPrincipalDashboard a.active li button {
    width: 225px;
    color: #fff;
    background-color: #008cff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(132, 133, 135, 0.5);
    border: none;
    border-radius: 0.25rem;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    padding: 12px 20px;
    transition: background-color 1s, color 1s, box-shadow 2s;
}



