.editar_senha {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}

.editar_senha_div {
    display: grid;
    grid-template-columns: 50% 50%;
    place-content: center;
    /* background-color: brown; */
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.editar_senha_div i {
    position: relative;
    left: 10%;
}

.editar_senha_div input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 45px;
    width: 300px;
    border: 1px solid rgb(216, 213, 213);
    border-radius: 5px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(73, 74, 74, 0.5);
    border: none;
    border-radius: 0.25rem;
}



.editar_senha_botao_salvar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 37.6%;
    margin-left: 1%;
}

.editar_senha_botao_salvar button:nth-child(1) {
    visibility: hidden;
}

.editar_senha_botao_salvar button:nth-child(2) {
    visibility: hidden;
}

.editar_senha_botao_salvar button:nth-child(3) {

    width: 195px;
    color: #fff;
    background-color: #ffffff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(132, 133, 135, 0.5);
    border: none;
    border-radius: 0.25rem;
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    padding: 10px 20px;
}


.editar_senha_botao_salvar button:nth-child(3):hover{
    color: #fff;
    background-color: #008cff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 140 255 / 50%);
    transition: background-color 1s, color 1s, box-shadow 2s;
}
