.detalhe_perfilDashboard_informacao {
    margin-top: 0.4%;
    height: 100vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: grid;
    grid-template-columns: 30% 65%;
    place-content: center;
    gap: 15px;
}

.detalhe_perfilDashboard .nome{

    color: white;


}

.detalhe_perfilDashboard {
    min-height: 100%;
    height: auto;
    /* background-color: aqua; */
    background-color: white;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(132, 133, 135, 0.5);
    border: none;
    border-radius: 0.25rem;
}


.detalhe_perfilDashboard_foto_info {
    height: 250px;
    /* background-color: bisque; */
    background-color: #008cff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(132, 133, 135, 0.5);
    border: none;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detalhe_perfilDashboard_detalhes {
    height: 55%;
    margin: auto;
    padding: 0 20px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.detalhe_perfilDashboard_detalhes .espacomento {
    padding-right: 5px;
}

.detalhe_perfilDashboard_foto_info .foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalhe_perfilDashboard_foto_info .foto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.informacaoPerfilDashboard {
    height: 550px;
    /* background-color: blueviolet; */
    background-color: #fff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(73, 74, 74, 0.5);
    border: none;
    border-radius: 0.25rem;

}

#menuInformacaoPerfilDashboard {
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    
}

#menuInformacaoPerfilDashboard li {
    list-style: none;
    font-size: 20px;
}

#menuInformacaoPerfilDashboard li button {
    width: 225px;
    color: #fff;
    background-color: #ffffff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(132, 133, 135, 0.5);
    border: none;
    border-radius: 0.25rem;
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    padding: 12px 20px;
}

#menuInformacaoPerfilDashboard li button:hover {
    width: 225px;
    color: #fff;
    background-color: #008cff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(132, 133, 135, 0.5);
    border: none;
    border-radius: 0.25rem;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    padding: 12px 20px;
    transition: background-color 1s, color 1s, box-shadow 2s;
}


#menuInformacaoPerfilDashboard a.active li button {
    width: 225px;
    color: #fff;
    background-color: #008cff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(132, 133, 135, 0.5);
    border: none;
    border-radius: 0.25rem;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    padding: 12px 20px;
    transition: background-color 1s, color 1s, box-shadow 2s;
}


.dashboard_perfilDashboard_Titulo_Criar{
    position: relative;
    top: 2%;
    left: 0%;
    width: 100%;
    /* background-color: red; */
}