.spanOradorBilhetePalestrante span {
    font-weight: 500;
}

.exibir_imagem_Pai {
    margin-bottom: 0;
    padding: 30px 0 0 0;
}

.exibir_imagem_comprovativo {
    width: 50%;
    height: 100%;
}

.exibir_imagem_comprovativo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.spanIcone {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #e51b15;
    padding: 5px 5px 5px 10px;
    color: #FFF;
}

.titulo_evento_informacaoCompra {
    font-family: 'Roboto', sem serifa;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: .5px;
    color: #1e0a3c;
    font-weight: 900;
    display: flex;
}

.titulo_evento_informacaoCompra_botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2% 0 0 0;

}




.titulo_evento_informacaoCompra_botoes div:last-child button {
    margin: 5px;
    padding: 7px 12px 7px 12px;
}

.btnAprovarCompra {
    background-color: rgb(32, 201, 151);
    color: white;
    border-radius: 20px;
}

.btnCancelarCompra {
    background-color: red;
    color: white;
    border-radius: 20px;
}