.CardEvento_Org {
    min-width: 92%;
    display: grid;
    grid-template-rows: 38% 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    width: 15%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #F0F2F5;
    cursor: pointer;
    transition: transform 1s, box-shadow 1s;
}

.CardEvento_Org:hover {
    box-shadow: 0px 0px 25px 0px rgb(0, 0, 0, 0.7);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

.CardEventoTopo_Org {
    width: 100%;
}




.CardEventoBaixo_Org {
    width: 240px;
    padding: 10px 5px 0 5px;
}


.CardEventoBaixo_Org div h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 500;
}

.titulo_div_Org {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.CardEventoData_Org {
    color: #d1410c;
    font-weight: 500;
}

.CardEventoTipo_bilhete_Org {
    font-size: 15px;
}

.CardEventoTipo_estado_Org {
    font-size: 15px;
}

.CardEventoTipo_eventoOrg_Org {
    color: rgb(121, 118, 118);
    font-size: 14px;
}

.CardEventoTipo_detalhe_Org {

    bottom: 28px;
}

.CardEventoTipo_detalhe_Org:hover {
    background-color: white;
    color: black;
}

.CardEvento_Img_Org {
    object-fit: cover;
    width: 100%;
    min-height: 10px;
    height: 150px;
    image-rendering: unset;
}

.CardEvento_Img_Org:hover {}

.link_cardEvento_Org {
    color: black;
}

.link_cardEvento_Org:hover {
    color: black;
}

.eventogratis_pago_visualizar_Org {}


/*Responsivo*/
/*Mobile*/
@media screen and (min-width: 320px) and (max-width:480px) {}

/*Tablet*/
@media screen and (min-width: 569px) and (max-width: 991px) {

    /* .CardEvento_Org {
        width: 50%;
        display: grid;
        grid-template-rows: 38% 25%;
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-wrap: wrap; */
    /* width: 95%; */
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        background-color: #F0F2F5;
        cursor: pointer;
        transition: transform 1s , box-shadow 1s; */
    /* } */

    /* .CardEvento_Img_Org {
        object-fit: cover;
        width: 100%;
        min-height: 10px;
        height: 140px;
        image-rendering: unset;
    }
    
     */

}

/*Laptops*/
@media (min-width: 992px) and (max-width: 1199px) {

    .CardEvento_Org {
        /* min-width: 150px;
        width: 50%;
        display: grid;
        grid-template-rows: 38% 25%;
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-wrap: wrap;
        width: 95%;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        background-color: #F0F2F5;
        cursor: pointer;
        transition: transform 1s , box-shadow 1s; */
    }

    /* .CardEventoBaixo {
        width: 240px;
        padding: 10px 0px 0 0px;
    } */


}