.criar_orador {
    margin-top: 25px;
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #f3f6fd;
    border: 1px solid rgb(216, 213, 213);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(73, 74, 74, 0.5);
    border: none;
    border-radius: 0.25rem;
}

.criar_orador_div {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: aqua; */
    margin: auto;

}

.criar_orador_div i {
    position: relative;
    left: 11%;

}


.criar_orador_div input {
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 45px;
    width: 300px;
    border: 1px solid rgb(216, 213, 213);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(73, 74, 74, 0.5);
    border: none;
    border-radius: 0.25rem;
}



.criar_orador_botao_salvar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -6%;
    margin-left: -4%;
    
}

.criar_orador_botao_salvar button:nth-child(1) {
    visibility: hidden;
}

.criar_orador_botao_salvar button:nth-child(2) {
    visibility: hidden;
}


.criar_orador_botao_salvar button:nth-child(3){
    width: 195px;
    color: #fff;
    background-color: #ffffff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(132, 133, 135, 0.5);
    border: none;
    border-radius: 0.25rem;
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3px;
    padding: 10px 20px;
}

.criar_orador_botao_salvar button:nth-child(3):hover{
    color: #fff;
    background-color: #008cff;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 140 255 / 50%);
    transition: background-color 1s, color 1s, box-shadow 2s;
}
