/* .CardEvento {
    min-width: 250px;
    display: grid;
    grid-template-rows: 38% 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    width: 200px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #F0F2F5;
    cursor: pointer;
    transition: transform 1s, box-shadow 1s;
}

.cardGrupo_p p{
    padding: 0;
    margin: 0;
} */

.previsualizarEvento {
    height: 360px;
    width: 100%;
    min-width: 250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-family: Roboto, "sem serifa";
}

.previsualizarEvento_Imagem {
}

.previsualizarEvento_Img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.previsualizarEvento_Informacao {
    margin-top: 10px;
}

.previsualizarEvento_Informacao p{
    padding: 0;
    margin: 0;
}