.insivivel {
    width: 100%;
    height: 105px;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
}

.container_eventos_listados {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: auto;
}

.container_eventos_listados_div {
    margin: 0px auto;
    text-align: center;

}


.container_eventos_listados a {
    color: white;
    text-decoration: none;
    transition: color 0.5;
}

.container_eventos_listados a:hover, .container_eventos_listados a:focus {
    color: rgb(0, 151, 255);
    text-decoration: none;
}

.bilhete {
    width: 50px;
    font-size: 50px;
    color: white;
    transition: color 0.5s;
}

.bilhete:hover {
    color: rgb(0, 151, 255);
}

.bilhete:focus {
    color: rgb(0, 151, 255);

}

.conteudo_evento_paragrafos {
    display: flex;
    margin: 0px auto;
    width: 100%;
}


.conteudo_categoria_p {
    margin-right: 10px;
}

.conteudo_categoria_p select {
    padding-left: 15px;
}

.conteudo_categoria_select {
    border-radius: 5px;
    padding: 3px;
}

.conteudo_categoria_select:hover, .conteudo_categoria_select:focus {
    border: 1px solid rgb(0, 151, 255);
}

.empreendedorismo {
    margin-left: 20px;
}

.conteudo_eventos {
    padding-top: 25px;
}

.section_eventos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    margin: 0px auto;
}

.section_org_img {
    margin-top: 100px;
    height: 300px;
    background-image: url("../../assets/img//fundo.jpg");


    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: color;

}

.section_org_img_evento {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 60% 40%;
    flex-wrap: wrap;
    gap: 30px;
    text-align: justify;

}

.section_contato {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 100px;
    background-color: rgb(75, 75, 75);
    height: auto;

}

.section_contato input {
    width: 45%;
    padding: 10px;
    margin-top: 5px;
    outline-color: rgb(0, 151, 255);
}

.section_contato textarea {
    width: 45%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    outline-color: rgb(0, 151, 255);
}

#submit{
    
}

.conteudo_eventos_vermais{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

