#navbar {
    height: 54px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding-left: 35px;
    padding-right: 35px;
    justify-content: space-between;
    align-items: center;
    flex-flow: nowrap;
    position: fixed;
    display: flex;
    width: 100%;
    background: #ffffff;
    color: #1c1e21;
    z-index: 10;
    /* margin: 0 auto; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
}

#titulo {
    color: #1c1e21;
}

#menu {
    padding-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu li {
    padding-left: 20px;
    list-style: none;
}

#menu a {
    color: #1c1e21;
    font-weight: 480;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.modal_botoes {
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.modal_botoes a {
    margin-top: 20px;
}

.btn_fechar {
    background-color: rgb(220, 220, 220);
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    transition: background-color 1s;
}

.btn_fechar:hover {
    background-color: rgb(166, 166, 166);

}

.conta {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;

}

.btn_fechar_hidden {
    visibility: hidden;
}

.conta span {
    font-size: 25px;
    font-weight: 500;
}


    /*Responsivo*/
    /*Mobile*/
    @media screen and (min-width: 320px) and (max-width:480px) {

        #menu li {
            padding-left: 10px;
            list-style: none;
        }

        #menu a {
            font-weight: 900;
            font-size: 12px;
            color: #1c1e21;
        }

        h2 {
            margin-top: 10px;
            margin-left: 0px;
            font-size: 18px;
        }

        .btn-registra {
            margin-right: 0;


        }

        #navbar {
            position: fixed;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #menu {
            margin-left: -16px;
            display: flex;

        }

    }

    /*Tablet*/
    @media screen and (min-width: 481px) and (max-width:769px) {

        h1 {
            display: none;
        }

        #navbar {
            position: fixed;
            padding: 0 10px;
        }

        #menu {
            display: flex;

        }

    }

    /*Laptops*/
    @media (min-width: 769px) and (max-width: 1250px) {}