#input_file {
    background-color: #FFF;
    /* padding-top: 8px;
    padding-bottom: 8px; */
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    border: 1px solid rgb(216, 213, 213);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(73, 74, 74, 0.5);
    border: none;
    border-radius: 0.25rem;
}

.select_criarEvento_AdicionarFoto {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    height: 65%;
    width: 100%;
    border: 1px solid rgb(216, 213, 213);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(73, 74, 74, 0.5);
    border: none;
    border-radius: 0.25rem;
}