footer {
    /* margin-top: 40px; */
    color: white;
}

#footer {
    height: auto;
    background: #747d8c;
}

.container_filho {
    padding: 60px 20px;
    display: flex;
    justify-content: space-evenly;
}

.container_filho_1 {
    text-align: justify;
    width: 70%;
}

.container_filho_3 {}

.icone_1 {
    font-size: 28px;
    transition: color 0.3s;
}

.icone_2 {
    font-size: 35px;
    transition: color 0.3s;

}

.icone_1:hover, .icone_1:focus, .icone_2:hover, .icone_2:focus {
    cursor: pointer;
    color: black;
}


/*Responsivo*/
/*Mobile*/
@media screen and (min-width: 320px) and (max-width:480px) {


    #footer {
        height: auto;
    }
    
    .container_filho {
        padding: 40px 10px;
        flex-direction: column;
        width: 100%;
    }

    .container_filho_1{
        padding: 0 20px;
        width: 100%;
    }

    .container_filho_2{
        padding: 0 20px;
        width: 100%;
    }
 
   
}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width:769px) {

    .container_filho {
        padding: 60px 20px;
        flex-direction: column;
        width: 100%;
       
    }
    
    .container_filho_1 {
        width: 100%;
    }

}


/*Laptops*/
@media (min-width: 769px) and (max-width: 1250px) {
 
    .container_filho {
        padding: 60px 20px;
        flex-direction: row;
        width: 100%;
    }
    


}