.section_home {
    width: 100%;
    height: 100%;
}

/* .titulo_evento_home {
    font-family: 'Roboto', sem serifa;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: .5px;
    color: #1e0a3c;
    font-weight: 900;
    padding: 2% 0 0 0;
}


.evento_home div {
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    line-height: 20px;
    row-gap: 15px;
    font-weight: 500;
}

.evento_home button {
    min-width: 180px;
    height: 43px;
    width: 15%;
    padding: 8px 30px 8px 30px;
    color: white;
    font-size: 16px;
    background-color: rgb(237, 135, 46);
    border: 1px solid rgb(237, 135, 46);
    border-radius: 0.25rem;
    font-weight: 500;
}

.evento_home button:hover {
    background-color: rgb(249, 155, 74);

} */

.dashboardHome {
    margin-top: 90px;
}



.dashboardHome_button_input button {
    width: 150px;
    padding: 8px;
    width: 150px;
    border-radius: 0.25rem;
    border: none;
    background-color: #0DCAF0;
    margin-right: 60px;
    color: white;
}

.dashboardHome_button_input input {
    padding: 6px 6px 6px 12px;
    width: 70%;
    min-width: 900px;
    border-radius: 5px;
    border: 1px solid #1e0a3c;
    outline-color: none;
}


.section_eventos_home::-webkit-scrollbar {
    width: 10px;
}

.section_eventos_home::-webkit-scrollbar-track {
    background: rgb(218, 217, 217);

}

.section_eventos_home::-webkit-scrollbar-thumb {
    background-color: #e51b15;
    border-radius: 20px;
    border: none;
}

/* 
@media screen and (min-width: 120px) and (max-width:640px) {

}

@media screen and (min-width: 641px) and (max-width: 1007px) {
   
}

@media (min-width: 1008px) and (max-width: 2475px) {
   

} */