@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Petit+Formal+Script&family=Sacramento&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

.card_Palestrante {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 8px;

}

.card_Palestrante img {
    height: 200px;
    width: 200px;
    border-radius: 5%;
    object-fit: cover;
    transition: box-shadow 0.70s, transform 0.1s;
    cursor: pointer;
}


.div_palestrante {}

.div_palestrante span {
    color: rgb(255, 255, 255);
}



.card_Palestrante:hover img {
    box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, .05), 0 2rem 2rem 0 rgba(0, 0, 0, .05), 0 1rem 1rem 0 rgba(0, 0, 0, .05), 0 0.5rem 0.5rem 0 rgba(0, 0, 0, .05), 0 0.25rem 0.25rem 0 rgba(0, 0, 0, .05), 0 0.125rem 0.125rem 0 rgba(0, 0, 0, .05);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}



@media screen and (min-width: 320px) and (max-width:480px) {}

@media screen and (min-width: 481px) and (max-width:769px) {}

@media (min-width: 769px) and (max-width: 1250px) {}