.titulo_evento_lista {
  width: 100%;
}

.estiloEstrutura2 {
  margin-top: 70px;
}

.estiloEstrutura3 {
  margin-top: 45px;
}

.estiloEstrutura {
  margin-top: 60px;

}

.titulo_evento_lista_subEstrutura {
  width: 100%;

}

.titulo_evento {
  font-family: 'Roboto', sem serifa;
  font-size: 52px;
  line-height: 40px;
  letter-spacing: .5px;
  color: black;
  font-weight: 900;
  padding: 1% 0 0 0;
}

.titulo_evento_estrutura {
  margin-top: 60px;

}

.eventos_lista {
  width: 100%;
  padding: 0 0 5px 0;
  margin-top: 25px;
  display: flex;
  border-bottom: 1px solid rgb(210, 210, 210);
  gap: 20px;
  color: gainsboro;
  flex-wrap: wrap;
  font-size: 20px;
}



.eventos_lista_pagamento {
  width: 100%;
  padding: 0 0 5px 0;
  margin-top: 10px;
  display: flex;
  border-bottom: 1px solid rgb(210, 210, 210);
  gap: 20px;
  color: gainsboro;
  flex-wrap: wrap;
  font-size: 20px;
}

.titulo_evento_perfil {
  padding-top: 75px;

}


.titulo_evento_lista_subEstrutura .eventos_lista .active span {
  padding: 0 0 7.4px 0;
  border-bottom: 3.4px solid rgb(32, 201, 151);
  cursor: pointer;
}


.eventos_lista .active span {
  padding: 0 0 7.4px 0;
  border-bottom: 3.4px solid #e51b15;
  cursor: pointer;
}




.eventos_lista span {
  color: black;
  font-weight: 500;

}

.eventos_lista_pagamento {
  color: black;
  font-weight: 500;
}

.eventos_lista_pagamento .active span {
  padding: 0 0 7.4px 0;
  border-bottom: 3.4px solid #e51b15;
  cursor: pointer;
}


/*Mobile*/
@media screen and (min-width: 320px) and (max-width:568px) {



  .titulo_evento {
    font-family: 'Roboto', sem serifa;
    font-size: 52px;
    line-height: 40px;
    letter-spacing: .5px;
    color: black;
    font-weight: 900;
    padding: 2% 0 0 0;
  }

  .eventos_lista {
    width: 100%;
    padding: 0 0 5px 0;
    margin-top: 3%;
    display: flex;
    border-bottom: 1px solid rgb(210, 210, 210);
    gap: 10px;
    color: gainsboro;
  }


}

@media screen and (min-width: 569px) and (max-width:767px) {}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 991px) {}

/*Laptops*/

@media (min-width: 992px) and (max-width: 1475px) {}