.tabelaEstrutura{
    margin-top: 20px;
}

.eventos_lista_estrutura{
    width: 100%;
    padding: 0 0 5px 0;
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    border-bottom: 1px solid rgb(210, 210, 210);
    gap: 20px;
    color: gainsboro;
}

.eventos_lista_estrutura .active span {
    padding: 0 0 7.4px 0;
    border-bottom: 3px solid #e51b15;
    cursor: pointer;
  }
  
  .eventos_lista_estrutura span {
    color: #1e0a3c;
  
  }
  